*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-size:105%;
    font-family: ferdana, helvetica, arial, sans-serif;
    background: white;
}

header{
    height:100px;
    background: rgba(197,175,151,0.8);
    position: fixed;
    top:0;
    left:0;
    width: 100%; 
    z-index: 900;
    padding-top: 30px;
}

#header1{
    margin: 0 auto;
    max-width:1600px;
}

h1{
    font-size: 2.488em;
    font-family: times, serif;
}

h2{
    font-size:2.074em;
}

h3{
    font-size:1.728em;
    color: rgb(109,109,109);
    margin-bottom: 2.12%;
}

h4{
    font-size: 1.44em;
}

#logo{
    float: left;
    font-family: sans-serif;
}

#logo a{
    text-decoration: none;
    color:rgb(250,246,245);
}

nav {
    float: right;
}

nav li{
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

nav li a{
    text-decoration: none;
    color: rgb(250,246,245);
    font-family: Arial;
    font-weight: 900;
}


#wrapper{
    max-width:1600px;
    margin: 0 auto;
    padding-top: 100px;
}

.row{
    margin-bottom: 2.12%;
    padding-bottom: 2.12%;
    overflow: hidden;
    border-bottom: 1px solid rgb(197,175,151);
}

.lastrow{
    border-bottom: 0px solid rgb(197,175,151);
}

#banner img{
    width: 100%;
    display: block;
}


blockquote{
    width:60%;
    margin: 0 auto;
    color:rgb(174,153,124);
    font-family:sans-serif;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.1em;
    margin-top: 2%;
    margin-bottom: 2%;
   }

.third{
    width:31.91%;
    margin-right:2.12%;
    float: left;
    position: relative;
}

.button{
    position: absolute;
    top:50%;
    left:50%;
    width: 40%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    padding:3.33%;
    font-size: 1.2em;
}

.button a{
    color:#fff;
    text-decoration: none;
}


.third:nth-child(3){
    margin-right: 0;
}

.third img{
    object-fit: contain;
    display: block;
    max-width: 100%;
}

.half{
    width:50%;
    float: left;
    height: 30em;
    background: lightgray;
    position: relative;
}

.half:nth-child(2){
    background: rgb(244,240,241);
}

.half img{
    margin: 0 auto 10px auto !important;
    display: block;
    max-width: 100%;
}


.fix{
    position: absolute;
    top:50%;
    left:0%;
    transform: translate(0%, -50%);
    padding:0 20%;
    
}


.half h3{
    margin-left: 2.12%;
    margin-top: 2.12%;
}



p{
    line-height: 1.4em;
    margin-left: 2.12%;
    margin-top: 2.12%;
    margin-right: 2.12%;
    color:rgb(109,109,109);
}


.embed-container{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	} 
	
	.embed-container iframe, .embed-container object, .embed-container embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}

footer{
    height:50px;
    clear: both;
    line-height: 50px;
    border-top: 1px solid rgb(197,175,151);
}

#footer1{
    max-width:1600px;
    margin: 0 auto;
}

footer ul{
    float: left
}

.social{
    float: right;
    margin-right: 2.12%;
}

footer li{
    list-style-type: none;
    float: left; 
    margin-left: 15px;
    color:rgb(197,175,151);
    font-size:.875em;
    font-family: Arial;
    font-weight: 600;
}

footer li a{
    text-decoration: none;
    color:rgb(197,175,151);
    font-family: Arial;
    font-weight: 600;
}

.social li{
    list-style-type: none;
    float: right; 
    margin-left: 15px;
}

/*Typography*/

.fab{
    font-size: 2.5em;
    color:rgb(197,175,151);
    line-height: 1.5em;
}

.primary-nav{
    display: none;
}


/*Media queries start here*/
@media screen and (max-width:1600px){
    body{
        background: white;
    }
    
    #wrapper, #header1{
        margin: 0 2.12%;
    }
}

@media screen and (max-width:1300px){
    body{
        background: white;
        font-size: 100%;
    }  

}

@media screen and (max-width:1000px){
    body{
        background: white;
        font-size: 92%;
    }  
    
    .button{
        padding:5px;
    }
    
    blockquote{
        width: 80%;
    }
     

}

@media screen and (max-width:800px){
    body{
        background: white;
        font-size:88%;
    }
    
    #wrapper{
        margin:0;
    }
    
    .half{
        height: 28em;
    }

        footer li{
        float:none;
        line-height: 30px;
    }
    
}

.nav-button { display: none; } /* hide the navigation button by default */

.logo{ display: none; }
.phone{ display: none; }

@media only screen and (max-width: 700px) {
    
    body{
        font-size: 88%;
    }
    
    #logo{
        display: none;
    }
    
    header{
    height:auto;
    background: rgba(197,175,151,0.8);
    position: static;
    top:0;
    left:0;
    width: 100%; 
    z-index: 900;
    padding-top: 0px;
}
    
    #wrapper{
        padding-top:50px;
    }
    
    .third{
        float:none;
        width:auto;
        margin-right:0;
        margin-top: 3%;
    }
    
    .third img{
        margin: 0 auto;
    }

    .half{
    width:auto;
    float: none;
    height: auto;
    background: lightgray;
}

    .fix{
        position: static;
        top:0;
        left:0;
        transform:translate(0,0);
        padding:3% 6%;
        
    }

    footer li{
        float:none;
        line-height: 30px;
    }
    
	/* Navigation Button
	-------------------------------------------------------- */

		.nav-button {
		display: block;
		position: fixed;
		top: 7px;
		right: 7px;
		width: 50px;
		height: 35px;
		background: url('../images/menu-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		border-radius: 5px;
		z-index: 998;
		text-indent: -9999px;
	}
    
    i.fas{
        font-size:2em;
        color:white;
    }
    
	.logo {
		display: block;
		position: fixed;
		top: 7px;
		left: 7px;
		width: 150px;
		height: 35px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		z-index: 999;
        
	}
    
    .logo a{
        text-decoration: none;
        color:rgb(250,246,245);
    }
    
	.nav-button:hover {
		background-color: rgba(0,0,0,.1);
	}
	.nav-button.open {
		background: url('../images/close-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
	}

	/* Navigation Bar
	-------------------------------------------------------- */

	

	.primary-nav {
		width: 100%;
		float: none;
		background-color: rgba(197,175,151,0.8); /* change the menu color */
		background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
		display: block;
		height: 50px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 997;
		clear: both;
	}
	.primary-nav li {
		display: none;
		width: 100%;
        margin-left: 0;
        margin-right: 0;
		font-family: Arial;
	}
	.primary-nav li a {
		display: block;
		width: 100%;
		padding: 10px 5%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1);
	}
	.primary-nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	.primary-nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */

	.primary-nav.open {
		height: auto;
		padding-top: 50px;
	}
	.primary-nav.open li {
		display: block;
	}

} /* End Mobile Styles */
